.text-color{
    color:#848199;
}
ul li{
    color:rgb(108,117,125)
}

/* .package-card:hover{
    background-color: #0d6efd;
} */

/* .client-card{
    width: 360px !important;
    height: 323px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */
/* .client-card >img{
    width: 100px;
    height: 100px;
} */

